<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/home" class="logo-button">
      <ion-title>
        TokenPlay
        <p class="subtitle">Not your Keys not your Games</p>
      </ion-title>
  </ion-button>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="!isLoggedIn" [routerLink]="'/login'">
        <ion-icon [name]="'person'"></ion-icon>Sign In
      </ion-button>
      <ion-button *ngIf="!isLoggedIn" [routerLink]="'/register'">
        <ion-icon [name]="'person'"></ion-icon>Register
      </ion-button>
      <ion-button *ngIf="isLoggedIn" [routerLink]="'/user'">
        <ion-icon [name]="'person'"></ion-icon>{{getAddress()}}
      </ion-button>
      <ion-button *ngIf="isLoggedIn" (click)="logout()">
        <ion-icon [name]="'person'"></ion-icon>Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
