<div *ngIf="game" class="relative cursor-pointer h-80 hover:z-10 text-white">
  <div class="absolute group/card transition-all transform hover:scale-105">
    <div *ngIf="canSellItem" class="group/img relative">
      <div
        [ngStyle]="{
          'background-image':
            'url(' +
            (game.image
              ? game.image
              : 'https://www.pbpusa.org/Shared/img/notfound.png') +
            ')'
        }"
        class="w-80 h-[13rem] bg-center bg-no-repeat bg-cover rounded-t-3xl group-hover/img:blur-sm transition-all relative"
      ></div>
      <ion-icon 
      class="opacity-0 text-5xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover/img:opacity-100 hover:text-red-500 transition-opacity duration-200" 
      name="wallet" (click)="emitSellGame(game)"></ion-icon>

    </div>
    <div *ngIf="!canSellItem"
        [ngStyle]="{
          'background-image':
            'url(' +
            (game.image
              ? game.image
              : 'https://www.pbpusa.org/Shared/img/notfound.png') +
            ')'
        }"
        class="w-80 h-[13rem] bg-center bg-no-repeat bg-cover rounded-t-3xl group-hover/img:blur-sm transition-all relative"
      ></div>
    <div
      class="h-32 group-hover/card:h-44 w-80 bg-zinc-800 rounded-b-3xl flex flex-col gap-2 p-2 transition-all"
    >
      <div class="flex justify-between items-center">
        <!-- Contenido adicional -->
      </div>
      <h2 class="text-2xl font-bold">{{ game.name }}</h2>
      <p>{{ parseWeiToEth(game.price) }} ETH</p>
      <button
        *ngIf="buttonType === 'buy'"
        class="opacity-0 group-hover/card:opacity-100 transition-opacity bg-red-500 p-4 rounded-full"
        (click)="buyGame(game.tokenId, game.price)"
      >
        Buy
      </button>
      <button
        *ngIf="buttonType === 'play'"
        class="opacity-0 group-hover/card:opacity-100 transition-opacity bg-red-500 p-4 rounded-full"
      >
        <a [href]="game.download" target="_blank">Play</a>
      </button>
    </div>
  </div>
</div>
