<ion-header>
  <ion-toolbar color="primary">
    <div class="flex justify-between items-center gap-40">

    <ion-buttons class="w-full flex justify-between items-center gap-16" slot="start">
      <ion-button class="text-2xl" (click)="navegarA('home')">Tokenplay<ion-icon id="icon-tokenplay" slot="start"></ion-icon></ion-button>
      <ion-button class="underline underline-offset-2 rounded-lg text-white" (click)="navegarA('catalogo')" style="margin-right: -250px">Catálogo</ion-button>
      <ion-button class="underline underline-offset-2 rounded-lg text-white" (click)="navegarA('marketplace')" style="margin-right: 250px">MarketPlace</ion-button>
    </ion-buttons>
    
    <ion-buttons class="pr-4" slot="end">
      <ion-button *ngIf="!isLoggedIn" (click)="navegarA('login')">Log in</ion-button>

      <ion-button *ngIf="isLoggedIn" (click)="navegarA('cms')">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  </ion-toolbar>
</ion-header>


