#icon-tokenplay {
    background-image: url('../../../../assets/icon/tokenplay-icon.png');
    background-size: cover; /* Ajusta la imagen para llenar el espacio */
    background-position: center; /* Centra la imagen */
    width: 30px; /* Ajusta el ancho del ícono */
    height: 30px; /* Ajusta la altura del ícono */
    margin-right: 10px; /* Agrega un margen a la derecha del ícono */
  }