<ion-content class="">
  <div class="w-full h-full flex flex-col justify-center items-center">
    <form class="w-[500px] rounded-xl flex flex-col gap-8 shadow-lg p-8">
      <h1 class="w-full flex justify-center text-2xl">Register</h1>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <label>First Name</label>
          <input class="rounded-lg bg-transparent" type="text" name="" id="">
        </div>
        <div class="flex flex-col">
          <label>Last Name</label>
          <input class="rounded-lg bg-transparent" type="text" name="" id="">
        </div>
      </div>
      <div class="flex flex-col">
        <label>Nick Name</label>
        <input class="rounded-lg bg-transparent" type="text" name="" id="">
      </div>
      <div class="flex flex-col">
        <label>Email</label>
        <input class="rounded-lg bg-transparent" type="email" name="" id="">
      </div>
      <div class="flex flex-col">
        <label>Password</label>
        <input class="rounded-lg bg-transparent" type="password" name="" id="">
      </div>
      <div class="flex flex-col">
        <label>Repite Password</label>
        <input class="rounded-lg bg-transparent" type="password" name="" id="">
        <div class="flex justify-between items-center mt-1">
          <a class="cursor-pointer underline underline-offset-4 italic hover:text-red-500" routerLink="/login">Have an account or a wallet?</a>
        </div>
      </div>
      <button class="w-full bg-red-500 text-white p-2 rounded-lg hover:bg-red-600">Register</button>
    </form>
  </div>
</ion-content>