<div class="w-full h-full mt-14 flex bg-zinc-900 text-white">
  <nav class="w-64 h-full flex flex-col gap-4 justify-center text-white z-50 border-r border-zinc-700 px-4">
      <a class="p-2 pl-4 text-lg hover:bg-red-500 rounded-lg uppercase" routerLink="games" routerLinkActive="bg-red-500 font-bold">Your Games</a>
      <a class="p-2 pl-4 text-lg hover:bg-red-500 rounded-lg uppercase" routerLink="selling-games" routerLinkActive="bg-red-500 font-bold">Selling Games</a>
  </nav>
  <main class="w-full bg-zinc-900 text-white">
    <ion-router-outlet></ion-router-outlet>
  </main>
</div>